= content_for :title, @seller_product.product.name


%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") #{@seller_product.product.name}
        %div(class="header-actions")
          %div(class="header-actions-item")
            = link_to edit_inventory_path(@seller_product), class: "button-circle button-circle-action" do
              %div(class="button-circle-icon") #{icon "fal", "pen"}
              %div(class="button-circle-name") Edit