.col {
	grid-column-end: span 1;
}

.grid-1-2 {
	display: grid;
	grid-row-gap: var(--gap);
	grid-column-gap: var(--gap);
	grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-2-2 {
	display: grid;
	grid-row-gap: var(--gap);
	grid-column-gap: var(--gap);
	grid-template-columns: repeat(2, 1fr);
}

.grid-1-3 {
	display: grid;
	grid-row-gap: var(--gap);
	grid-column-gap: var(--gap);
	grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-2-3 {
	display: grid;
	grid-row-gap: var(--gap);
	grid-column-gap: var(--gap);
	grid-template-columns: repeat(2, 1fr);
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-2-4 {
	display: grid;
	grid-row-gap: var(--gap);
	grid-column-gap: var(--gap);
	grid-template-columns: repeat(2, 1fr);
    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-locations {
	display: grid;
	grid-row-gap: var(--space-md);
	grid-column-gap: var(--space-md);
	grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-row-gap: var(--space-md);
		grid-template-columns: repeat(2, 1fr);
    }
}