.banner
    width: 100%
    position: relative
    display: block

.banner-container
    display: flex
    flex-direction: column
    width: 100%

    +tablet
        flex-direction: row
        align-items: flex-start

.banner-main
    flex: 1 1 100%
    max-width: 100%
    text-align: left

.banner-action
    flex: 1 1 100%
    margin-top: var(--gap)

    +tablet
        flex: 0 0 auto
        margin-top: 0
        margin-left: var(--gap)

.banner-title
    width: 100%

.banner-caption
    margin-top: var(--gap-s)
