.category-card
	display: block
	position: relative
	width: 100%
	height: 100%

	&-container
		height: 100%
		display: flex
		flex-direction: column
		border: 0
		border-radius: $border-radius
		overflow: hidden
		// border: 1px solid $color-border
		position: relative
		&::before
			content: ''
			display: block
			padding-bottom: 34%
	
	&-image
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		display: block
		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			background: linear-gradient(215.52deg, rgba($black, 0) 0%, rgba($black, 0.46) 74.22%, rgba($black, 0.65) 100%)
		& > img
			height: 100%
			width: 100%
			object-fit: cover
			display: block
	
	&-name
		z-index: 1
		text-align: left
		padding: var(--gap-s) var(--gap-s)



// Category Explore category
.category-explore
	position: relative
	display: block

.category-explore-link
	position: relative
	display: block

.category-explore-container
	display: flex
	flex-direction: column
	justify-content: flex-end
	border-radius: $border-radius
	border: 0
	overflow: hidden
	position: relative
	z-index: 1
	&::before
		content: ''
		padding-bottom: 140%
		display: block

.category-explore-cover
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	height: 100%
	width: 100%

	&::before
		content: ''
		display: block
		height: 100%
		width: 100%
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background: linear-gradient(transparent, rgba($black, .3) 80%, rgba($black, .6))
		z-index: 1

	& > img
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		object-fit: cover

.category-explore-title
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding: var(--gap-s)
	text-align: center
	z-index: 2

	+tablet
		padding: 22px 22px



// Category Show page
.category-hero
	display: block
	position: relative
	width: 100%

.category-hero-background
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background: rgba($black, .4)
	& > img
		display: block
		height: 100%
		width: 100%
		object-fit: cover

.category-hero-container
	padding-top: var(--gap-r-l)	
	padding-bottom: var(--gap-r-l)
	display: flex
	flex-direction: column
	width: 100%
	// align-items: center
	justify-content: center
	text-align: center





// REMOVE AFTER LAUNCH
.category-grid
    display: grid
    grid-row-gap: var(--gap-r)
    grid-column-gap: var(--gap-r)
    grid-template-columns: repeat(1, 1fr)
    +desktop-sm
        grid-template-columns: repeat(2, 1fr)
    
    & > li
        grid-column-end: span 1

    
.category-about
	position: relative
	width: 100%
	padding: var(--gap)
	border: 1px solid $color-border
	border-radius: $border-radius

	&-icon
		text-align: center
		& > img
			height: 96px
			width: 96px
			object-fit: cover
			border: 0
			border-radius: 100%

	&-name
		text-align: center
		margin-top: var(--gap-xs)

	&-products
		margin-top: var(--gap)
		& > p > span:after
			content: ', '
		& > p > span:last-child &:after
			content: ''

	&-condition
		margin-top: var(--gap-s)

	&-approval
		margin-top: var(--gap-s)



// Am I ready to sell? -> block
.category-step
    background: $gray-lighter
    position: relative
    height: 100%
    padding: 60px var(--gap)
    border-radius: $border-radius

.category-step-count
    position: absolute
    top: -10px
    left: var(--gap)
    width: 40px
    height: 40px
    line-height: 38px
    border-radius: $border-radius
    background: $color-secondary
    text-align: center
    font-size: 14px
    font-weight: 800
    color: $white

.category-step-title
    width: 100%
    position: relative

.category-step-content
    margin-top: var(--gap-s)