.category-card
    display: block
    position: relative
    width: 100%

    &-container
        display: flex
        flex-direction: row
        align-items: center

    &-image
        flex: 0 0 auto
        display: block
        margin-right: var(--gap-s)
        border: 0
        border-radius: 100%
        overflow: hidden

        & > img
            height: 48px
            width: 48px
            object-fit: cover

            +desktop-sm
                height: 68px
                width: 68px



// Categories List
.category-grid
    display: grid
    grid-row-gap: var(--gap-r)
    grid-column-gap: var(--gap-r)
    grid-template-columns: repeat(1, 1fr)
    +desktop-sm
        grid-template-columns: repeat(2, 1fr)
    
    & > li
        grid-column-end: span 1

    
.category-about
    position: relative
    width: 100%
    padding: var(--gap)
    border: 2px solid $color-border
    border-radius: 20px

    &-icon
        text-align: center
        & > img
            height: 96px
            width: 96px
            object-fit: cover
            border: 0
            border-radius: 100%

    &-name
        text-align: center
        margin-top: var(--gap-xs)

    &-products
        margin-top: var(--gap)
        & > p > span:after
            content: ', '
        & > p > span:last-child
            &:after
                content: ''

    &-condition
        margin-top: var(--gap-s)

    &-approval
        margin-top: var(--gap-s)



// Am I ready to sell? -> block
.category-step
    background: linear-gradient(140deg,rgba(69,143,255,.06),rgba(87,69,255,.06) 28%,rgba(255,69,169,.06) 75%,rgba(255,81,129,.06))
    position: relative
    height: 100%
    padding: 60px var(--gap)
    border-radius: 20px

.category-step-count
    position: absolute
    top: -10px
    left: 50%
    width: 40px
    height: 40px
    margin-left: -20px
    line-height: 38px
    border-radius: 50%
    background: $black
    text-align: center
    font-size: 14px
    font-weight: 800
    color: $white

.category-step-title
    width: 100%
    position: relative

.category-step-content
    margin-top: var(--gap)