.navbar
    position: absolute
    top: 0
    right: 0
    left: 0
    z-index: 99


.navbar-in
    position: relative
    width: 100%
    background: none


.navbar.is-open .navbar-in // on mobile collapse open
    position: fixed
    top: 0
    right: 0
    left: 0
    width: 100%
    height: 100%
    overflow-y: auto


.navbar-container
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    max-width: $content-width-primary
    height: var(--navbar-height)
    width: 100%
    padding-right: var(--gap-r)
    padding-left: var(--gap-r)
    margin-right: auto
    margin-left: auto
    z-index: 3


.navbar-left
    height: 100%
    display: flex
    align-items: center
    flex: 0 0 auto
    margin-right: var(--gap-s)


.navbar-center
    flex: 1 1 100%
    width: 100%


.navbar-right
    flex: 0 0 auto
    width: auto
    margin-left: var(--gap-s)


.navbar-desktop
    display: none
    +desktop-sm
        display: block


.navbar-mobile
    display: block
    +desktop-sm
        display: none


.navbar-root
    color: $color-secondary
    font-size: var(--size-typo-l)
    font-weight: 700
    line-height: var(--line-height-typo-l)
    display: block


.navbar-search
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    position: relative
    border: 1px solid $color-border
    border-radius: $border-radius
    box-shadow: 0 2px 3px rgba($black, .06)
    overflow: hidden
    background: $white
    +desktop-sm
        max-width: 584px
    &.is-focused
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        width: 100%
        z-index: 100
        border-radius: 0
        border: 0
        border-bottom: 1px solid $color-border-dark
        +desktop-sm
            position: relative
            border: 1px solid $color-border-dark
            border-radius: $border-radius
            box-shadow: 0 2px 3px rgba($black, .08)

.navbar-search-input
    flex: 1 1 100%
    max-width: 100%
    position: relative

.navbar-search-control
    color: $color-font-primary
    font-size: var(--size-typo-s)
    font-weight: 400
    line-height: var(--line-height-typo-s)
    letter-spacing: 0.018em
    width: 100%
    appearance: none
    box-shadow: none
    border: 0
    border-radius: 0
    padding: var(--gap-xs) 0px var(--gap-xs) var(--gap-s)
    position: relative
    display: block
    &:focus
        border-color: $color-border-dark


.navbar-search-button
    color: $color-font-secondary
    font-size: var(--size-typo-m)
    line-height: var(--line-height-typo-m)
    display: block
    height: 100%
    flex: 0 0 auto
    width: auto
    cursor: pointer
    border: 0
    border-radius: 0
    box-shadow: none
    background: transparent
    padding: var(--gap-xs) var(--gap-s)
    &:focus, &:hover, &:active
        color: $color-font-primary-light
        background: $color-secondary


.navbar-links
    display: flex
    flex-direction: row
    align-items: center
    li + li
        margin-left: var(--gap)


.navbar-link
    color: $color-font-primary
    font-size: var(--size-typo-s)
    font-weight: 500
    line-height: var(--line-height-typo-s)
    appearance: none
    border: 0
    border-radius: 0
    vertical-align: baseline
    display: block
    & > span + span
        margin-left: var(--gap-xxs)
    &:hover
        color: $color-font-secondary


.navbar-profile
    background: transparent
    appearance: none
    box-shadow: none
    outline: none
    border: 0
    border-radius: 0
    overflow: hidden
    cursor: pointer
    &-picture
        display: block
        position: relative
        border-radius: 50%
        border: 0
        overflow: hidden
        & > img
            height: 42px
            width: 42px
            object-fit: cover
            display: block


.navbar-dropdown-item
    position: relative


.navbar-dropdown
    min-width: 182px
    border: 0
    border-radius: $border-radius
    box-shadow: 0 0 0 1px $color-border, 0 8px 16px rgba(27, 39, 51, 0.08)
    position: absolute
    visibility: hidden
    opacity: 0
    z-index: 1
    background: $white
    user-select: none
    transition: 125ms all ease
    transform: translate3d(0, 0, 0)
    transform: translateY(0) scale(1)
    will-change: transform, opacity
    right: 0


.navbar-dropdown-item.is-open > .navbar-dropdown
    visibility: visible
    opacity: 1
    transform: translateY(5px) scale(1)


.navbar-dropdown-list
    padding-top: var(--gap-xs)
    padding-bottom: var(--gap-xs)
    &-item-separator
        border-top: 1px solid $color-border
        border-bottom: 1px solid $color-border
    &-item
        width: 100%
        position: relative
        display: block


.navbar-dropdown-link
    color: $color-font-primary
    font-size: var(--size-typo-s)
    font-weight: 400
    letter-spacing: .03em
    line-height: var(--line-height-typo-s)
    vertical-align: baseline
    display: block
    padding: var(--gap-xs) var(--gap-s)
    background: transparent
    &:hover
        background: $gray-light



// Mobile Hamburger
$btn-transition: .12s ease-in-out
$btn-delay: .05s

.navbar-burger
    height: var(--navbar-height)
    position: relative
    cursor: pointer
    user-select: none
    -webkit-tap-highlight-color: transparent
    z-index: 99
    &-container
        width: 18px
        height: 8px
        position: relative
        display: block
        margin: -8px auto 0
        top: 50%
        transform: rotate(0deg)
        transition: $btn-transition
        &-bar
            width: 100%
            height: 2px
            display: block
            position: relative
            background: $color-font-primary
            transtion: $btn-transition
            transition-delay: $btn-delay
            &Top
                transform: translateY(0px) rotate(0deg)
            &Btm
                transform: translateY(6px) rotate(0deg)
    &-name
        display: none
        color: $color-font-primary
        font-size: var(--size-typo-s)
        font-weight: 600
        margin-left: var(--gap-xs)
        +tablet
            display: block

.navbar-burger.is-open
    .navbar-burger-container
        transform: rotate(90deg)
    .navbar-burger-container .navbar-burger-container-bar
        transition: $btn-transition
        transition-delay: $btn-delay
        background: $color-font-primary

        &Top
            transform: translateY(4px) rotate(45deg)

        &Btm
            transform: translateY(2px) rotate(-45deg)
    

// Mobile collapse menu
.navbar-collapse
    position: absolute
    top: 0
    right: 0
    left: 0
    padding-top: var(--navbar-height)
    padding-bottom: var(--gap-r)
    pointer-events: none
    background: $white
    opacity: 0
    transform: translateY(-20px)
    transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease
    z-index: 1
    &.is-open
        opacity: 1
        pointer-events: all
        transform: translateY(0)
        bottom: 0


.navbar-collapse-block
    padding-top: var(--gap-r)
    padding-bottom: var(--gap-r)
    & + &
        border-top: 1px solid $color-border


.navbar-collapse-link
    color: $color-font-primary
    font-weight: 600
    font-size: var(--size-typo-m)
    line-height: var(--line-height-typo-m)
    padding: var(--gap-s) var(--gap-r)
    display: flex
    flex-direction: row
    // align-items: center
    .navbar-collapse-link-icon
        flex: 0 0 auto
        width: 22px
        margin-right: var(--gap-xs)
        vertical-align: middle
    .navbar-collapse-link-content
        flex: 1 1 100%
        max-width: 100%

    &:hover, &:focus
        color: $color-font-primary
        background: $gray-light


.navbar-collapse-profile
    padding: var(--gap-r) var(--gap-r)
    display: flex
    align-items: center

    .navbar-collapse-profile-avatar
        flex: 0 0 auto
        width: auto
        border: 0
        border-radius: 50%
        overflow: hidden
        margin-right: var(--gap-xs)

        & > img
            height: 42px
            width: 42px
            object-fit: cover