.page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-top {
    flex: 0 0 auto;
}

.page-center {
    flex: 1 1 100%;
}

.page-bottom {
    flex: 0 0 auto;
}