.testimonial
    display: block
    position: relative
    overflow: hidden

.testimonial-container
    display: block
    text-align: center

.testimonial-icon
    color: $color-font-primary
    font-size: var(--size-typo-xxl)
    font-weight: 400
    line-height: var(--line-height-typo-xxl)
    vertical-align: baseline
    display: block
    margin-bottom: var(--gap-s)

.testimonial-header
    width: 100%

.testimonial-body
    width: 100%
    margin-top: var(--gap-xs)

.testimonial-actions
    margin-top: var(--gap-s)
    width: 100%
    position: relative
    display: block
    & > &-item + &-item
        margin-top: var(--gap-xs)
