// Content width
$content-width-primary: calc(1000px + var(--gap))
$content-width-wide: calc(1180px + var(--gap))

$border-radius: 3px

// CSS variables
\:root
    --font: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif
    --size-typo-default: 0.875em
    --size-typo-xs: 0.75em
    --size-typo-s: 0.95em
    --size-typo-m: 1.0625em
    --size-typo-l: 1.25em
    --size-typo-xl: 1.5em
    --size-typo-xxl: 1.75em
    --size-typo-xxxl: 2.25em
    --size-typo-xxxxl: 3.75em
    --line-height-typo-xs: 1.5
    --line-height-typo-s: 1.5
    --line-height-typo-m: 1.4
    --line-height-typo-l: 1.4
    --line-height-typo-xl: 1.3
    --line-height-typo-xxl: 1.3
    --line-height-typo-xxxl: 1.2
    --line-height-typo-xxxxl: 1.2222222222
    --navbar-height: 54px
    --icon: 44px
    --icon-l: 82px
    --circle: 3.5rem

    +tablet
        --navbar-height: 64px
        --icon: 64px
        --icon-l: 102px


    +desktop
        --icon-l: 122px
