.pagy-nav.pagination
    text-align: center
    width: 100%
    position: relative

    & .page
        color: $color-font-secondary
        font-size: var(--size-typo-m)
        line-height: var(--line-height-typo-m)
        font-weight: 400
        vertical-align: baseline
        appearance: none
        outline: none
        padding: 6px 6px
        display: inline-block
        
        &.active
            font-weight: 600