.partner-hero {
    background: var(--color-green-lighter);
}

.partner-hero__container {
    padding: var(--space-xxxl) var(--space-content);
    max-width: var(--content-primary);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.partner-hero__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.partner-hero__grid-item {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: var(--space-content);
    @include bp(md) {
        width: 50%;
        padding-bottom: 0;
        padding-right: var(--space-content);
    }
    @include bp(lg) {
        width: 42%;
    }
}

.partner-hero__grid-image {
    display: block;
    position: relative;
    width: 100%;
    border: 0;
    border-radius: var(--radius-border);
    overflow: hidden;
    @include bp(md) {
        width: 50%;
    }
    @include bp(lg) {
        width: 58%;
    }
}


// Features
.partner-hero__features {
    margin-top: var(--space-xxxxl);
    display: grid;
    grid-column-gap: var(--space-lg);
    grid-row-gap: var(--space-xxxl);
    grid-template-columns: repeat(1, 1fr);
    max-width: var(--content-primary);
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include bp(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.partner-hero__features-item {
    grid-column-end: span 1;
}

.partner-hero__feature {
    max-width: 350px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &-icon {
        color: var(--color-white);
        font-size: var(--text-md);
        line-height: var(--body-line-height);
        height: 50px;
        width: 50px;
        border: 0;
        border-radius: 100%;
        display: block;
        background: var(--color-green);
        padding: var(--space-sm) var(--space-sm);
        margin: 0 auto var(--space-sm) auto;
    }

    &-content {
        margin-top: var(--space-xxs);
    }
}



.partner-plans {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--space-content);
    grid-row-gap: var(--space-md);
    @include bp(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include bp(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.partner-plans__item {
    grid-column-end: span 1;
    width: 100%;
}

.partner-plans__plan {
    width: 100%;
    padding: var(--space-md);
    background: var(--color-white);
    box-shadow: 0 4px 40px var(--color-contrast-medium);
    border: 0;
    border-radius: var(--radius-border);
    background: var(--color-bg);
}

.partner-plans__plan-name {
    text-align: center;
    margin-bottom: var(--space-sm);
}

.partner-plans__plan-caption {
    text-align: center;
}

.partner-plans__plan-price {
    text-align: center;
    margin-top: var(--space-md);
    &-currency {
        vertical-align: top;
    }
    &-amount {
        vertical-align: middle;
    }
    &-interval {
        vertical-align: bottom;
    }
}

.partner-plans__feature {
    margin-top: var(--space-sm);
    padding-top: var(--space-sm);
    border-top: 1px solid var(--color-border);
    & > li + li {
        margin-top: var(--space-xs);
    }
    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-left {
        flex: 0 0 auto;
        color: var(--color-contrast-high);
    }
    &-right {
        flex: 0 0 auto;
        margin-left: var(--space-xs);
    }
}