.content,
.content-tight,
.content-page,
.content-product
    width: 100%
    max-width: $content-width-primary
    margin-right: auto
    margin-left: auto
    padding-right: var(--gap-r)
    padding-left: var(--gap-r)
    position: relative
    display: block
    z-index: 1

.content-tight
    max-width: $content-width-tight !important

.content-page
    max-width: $content-width-page !important

.content-product
    max-width: $content-width-product !important