.section
    display: block
    position: relative
    width: 100%
    padding-top: var(--gap-m)
    padding-bottom: var(--gap-m)
    overflow: hidden

    &-gray
        background: $gray-lighter


.section-page
    padding-top: var(--gap-r-m)
    padding-bottom: var(--gap-r-m)



// User to separate content inside section
.section-page-block
    width: 100%
    display: block
    position: relative

    & + &
        margin-top: var(--gap-r-m)


.section-page-block-separator
    border-top: 1px solid $color-border
    padding-top: var(--gap-r-m)



// Separators
.section-page-separator + .section-page-separator
    border-top: 1px solid $color-border
