.section
    display: block
    position: relative
    width: 100%
    padding-top: var(--gap-r-m)
    padding-bottom: var(--gap-r-m)
    overflow: hidden

    &-gray
        background: $gray-lighter


.section-page
    padding-top: var(--gap-r-m)
    padding-bottom: var(--gap-r-m)
    display: flex
    flex-direction: column
    justify-content: center

    // +tablet
    //     min-height: 85vh



// Section Top -> Inline header with actions
.section-top
    width: 100%
    display: flex
    flex-direction: column
    margin-bottom: var(--gap)
    +tablet
        flex-direction: row
        align-items: center
        // justify-content: space-between

    &-title
        flex: 1 1 auto
        max-width: 100%
    &-actions
        flex: 1 1 100%
        white-space: nowrap
        display: flex
        flex-direction: row
        align-items: center
        margin-top: var(--gap)
        +tablet
            margin-top: 0
            margin-left: var(--gap)
            flex: 0 0 auto




// Header
.section-header
    width: 100%
    position: relative
    display: block
    margin-bottom: var(--gap-r-m)

.section-header-center
    text-align: center
    max-width: 712px
    margin-right: auto
    margin-left: auto

.section-header-title
    width: 100%

.section-header-caption
    margin-top: var(--gap-s)

.section-header-action
    margin-top: var(--gap)
    



// User to separate content inside section
.section-body
    width: 100%
    display: block
    position: relative

    & + &
        margin-top: var(--gap-r-m)

    &-header
        width: 100%
        text-align: left
        margin-bottom: var(--gap-s)

    &-body
        width: 100%
        display: block


// Pagination block
.section-pagination
    margin-top: var(--gap-r-m)




// Section page
.section-page-body
    width: 100%
    display: block
    position: relative

    & + &
        margin-top: var(--gap-r-m)


.section-page-body-separator
    border-top: 1px solid $color-border
    padding-top: var(--gap-r-m)



// Separators
.section-page-separator + .section-page-separator
    border-top: 1px solid $color-border
