%h3 Extra confirmation is needed to process your payment.
%p Your subscription requires confirmation to process your payment to continue access.

%p #{link_to "Confirm your payment", seller_payment_url(@payment_intent.id)}. If you have any questions, please hit reply and let us know.
