.card
    position: relative
    display: block

    box-shadow: 0 0 0 1px $color-border
    // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px
    border: 0
    border-radius: $border-radius

.card-header
    display: flex
    flex-direction: row
    align-items: center

.card-body
    padding: var(--gap-s)

// Card Grid
.card-grid
    display: grid
    grid-row-gap: var(--gap)
    grid-column-end: var(--gap)
    grid-template-columns: repeat(1, 1fr)

    +tablet
        grid-template-columns: repeat(3, 1fr)

.card-col
    grid-column-end: span 1

    & + &
        border-top: 1px solid $color-border

        +tablet
            border-top: 0
            border-left: 1px solid $color-border
