.dashboard
    min-height: 100vh
    display: flex
    flex-direction: column
    flex-shrink: 0
    flex-grow: 1
    width: 100%
    max-width: 100%
    position: relative
    z-index: 1


.dashboard-top
    width: 100%
    display: block
    flex-grow: 0

    
.dashboard-body
    display: block
    padding-top: var(--navbar-height)
    flex-grow: 1


.dashboard-container
    display: block
    position: relative
    z-index: 1


.dashboard-bottom
    flex-grow: 0