// Page header
.header
    width: 100%
    position: relative
    margin-bottom: var(--gap-r-m)

.header-container
    display: flex
    flex-direction: column
    text-align: center

    +tablet
        flex-direction: row
        text-align: left
        align-items: center
        justify-content: space-between

.header-picture
    flex: 1 1 100%
    margin-bottom: var(--gap)
    overflow: hidden
    +tablet
        flex: 0 0 auto
        margin-bottom: 0
        margin-right: var(--gap)
    & > img
        margin: 0 auto
        height: var(--icon-l)
        width: var(--icon-l)
        border: 0
        border-radius: 100%
        display: block
        position: relative
        object-fit: cover

.header-title
    flex: 1 1 100%
    max-width: 100%
    position: relative
    display: block

.header-actions
    flex: 1 1 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    margin-top: var(--gap)

    +tablet
        justify-content: flex-end
        flex: 0 0 auto
        margin-top: 0
        margin-left: var(--gap)

    &-item + &-item
        margin-left: var(--gap)

// Use for section headings
.header-section
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: relative
    margin-bottom: var(--gap)
    width: 100%

    &-icon
        flex: 0 0 auto
        margin-right: var(--gap-r-s)

    &-title
        flex: 1 1 100%
        max-width: 100%

    &-actions
        display: flex
        flex-direction: row
        align-items: center
        flex: 0 0 auto
        margin-left: var(--gap-r-s)
        &-item + &-item
            margin-left: var(--gap-r-s)
