.list
    width: 100%
    display: block
    position: relative

.list-container
    display: flex
    flex-direction: row
    align-items: center
    padding: var(--gap-s) 0
    position: relative
    overflow: hidden
    border: 0
    border-radius: $border-radius

a.list-container
    transition: $transition-default
    &:hover
        box-shadow: $shadow-card
        padding: var(--gap-s) var(--gap-xs)

.list-picture
    flex: 0 0 auto
    border: 0
    border-radius: $border-radius
    overflow: hidden
    margin-right: var(--gap-s)
    &-circle
        border-radius: 100%
    & > img
        height: 44px
        width: 44px
        display: block
        object-fit: cover
        +tablet
            height: 54px
            width: 54px

.list-icon
    flex: 0 0 auto
    margin-right: var(--gap-s)
    color: $color-secondary
    font-size: var(--size-typo-xl)
    line-height: var(--line-height-typo-xl)
    min-width: 22px
    text-align: center

.list-main
    flex: 1 1 100%
    max-width: 100%

.list-secondary
    flex: 0 0 auto
    margin-left: var(--gap)



// Products