.onboarding
    width: 100%
    position: relative
    background: var(--color-accent)


.onboarding_container
    max-width: $content-width-primary
    width: 100%
    margin-right: auto
    margin-left: auto
    padding: var(--space-xxxxl) var(--space-content)
    

.onboarding_header
    max-width: 648px
    width: 100%
    position: relative
    display: block
    &_greeting
        margin-bottom: var(--space-xs)
    &_caption
        margin-top: var(--space-xs)


.onboarding_steps
    margin-top: var(--space-md)
    display: grid
    grid-column-gap: var(--space-sm)
    grid-row-gap: var(--space-sm)
    grid-template-columns: repeat(1, 1fr)
    +tablet
        grid-template-columns: repeat(3, 1fr)
    & > .col
        grid-column-end: span 1


.onboarding_step
    background: var(--color-accent-lighter)
    border-radius: $border-radius
    border: 0
    height: 100%
    padding: var(--gap-s)
    display: block
    &:hover
        background: var(--color-accent-light)
    &_icon
        font-size: var(--size-typo-xl)
        margin-bottom: var(--gap-xxs)
        & > svg .fa-secondary
            fill: $white !important
        & > svg .fa-primary
            fill: $white !important
            opacity: 0
    &_caption
        margin-top: var(--gap-xs)


svg.onboarding_step_completed
    .fa-secondary
        fill: $green !important
        opacity: 1 !important
    .fa-primary
        fill: $white !important
        opacity: 1 !important


.onboarding_footer
    margin-top: var(--gap)