.page
    display: block
    width: 100%
    position: relative


// Default page header
.page-top
    display: block
    padding-top: var(--space-xxxl)
    padding-bottom: var(--space-xxxl)
    // margin-bottom: var(--gap-r-m)
    &-separator
        border-bottom: 1px solid var(--color-border)
        margin-bottom: var(--space-xxxxl)

.page-top-container
    display: block
    width: 100%
    text-align: center
    +tablet
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        text-align: left

.page-top-icon
    height: 74px
    width: 74px
    background: var(--color-contrast-lower)
    box-shadow: none
    border: 1px solid var(--color-border)
    border-radius: 100%
    color: var(--color-contrast-higher)
    font-size: var(--text-xxl)
    margin-bottom: var(--space-md)
    flex: 1 1 100%
    display: inline-flex
    flex-direction: column
    align-items: center
    justify-content: center
    +tablet
        height: 94px
        width: 94px
        flex: 0 0 auto
        margin-bottom: 0
        margin-right: var(--space-md)

.page-top-picture,
.page-top-product
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: var(--space-lg)
    +tablet
        flex: 0 0 auto
        margin-right: var(--space-md)
        margin-bottom: 0
    & > img
        height: 94px
        width: 94px
        border-radius: 100%
        border: 0
        object-fit: cover
        display: inline-block
        +tablet
            height: 104px
            width: 104px

.page-top-product > img
    object-fit: contain
    background: var(--color-contrast-lower)


.page-top-main
    flex: 1 1 100%
    max-width: 100%
    &-title
        width: 100%
    &-caption
        margin-top: var(--space-xs)

.page-top-secondary
    flex: 1 1 100%
    margin-top: var(--space-xs)
    +tablet
        flex: 0 0 auto
        margin-top: 0
        margin-left: var(--space-md)


.page-top-actions
    flex: 1 1 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-top: var(--space-md)
    &-item
        flex: 0 0 auto
    &-item + &-item
        margin-left: var(--space-md)
    +tablet
        flex: 0 0 auto
        margin-top: 0
        margin-left: var(--space-md)

.page-top-stats
    flex: 1 1 100%
    display: grid
    grid-column-gap: var(--space-md)
    grid-row-gap: var(--space-md)
    grid-template-columns: repeat(2, 1fr)
    margin-top: var(--space-xxxl)
    +tablet
        margin-top: 0
        margin-left: var(--space-md)
        flex: 0 0 auto
        grid-template-columns: repeat(1, 1fr)
    &-item
        grid-column-end: span 1



// Body
.page-body
    display: block
    position: relative



// Pagination
.page-pagy
    width: 100%
    display: block
    position: relative
    margin-top: var(--space-xxxxl)



// Page block -> Part of .page-body
.page-block
    width: 100%
    position: relative
    display: block
    & + &
        margin-top: var(--space-xxxxl)



// Header -> Part of .page-block
.page-header
    width: 100%
    margin-bottom: var(--space-sm)
    &-container
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &-title
        flex: 1 1 100%
    &-actions
        display: flex
        flex-direction: row
        flex: 0 0 auto
        &-item
            flex: 0 0 auto
        &-item + &-item
            margin-left: var(--gap)



// Annotated block
.page-annotated
    display: grid
    grid-row-gap: var(--gap)
    grid-column-gap: var(--gap)
    grid-template-columns: repeat(1, 1fr)
    +desktop-sm
        grid-template-columns: repeat(12, 1fr)

.page-annotated-annotation
    grid-column-end: span 1
    +desktop-sm
        grid-column-end: span 5
    +desktop
        grid-column-end: span 4

.page-annotated-content
    grid-column-end: span 1
    +desktop-sm
        grid-column-end: span 7
    +desktop
        grid-column-end: span 8

.page-annotated-card
    grid-column-end: span 1
    +desktop-sm
        grid-column-end: span 12