// Sidebar Positioning
.sidebar
    position: relative
    height: 100%
    width: 100%

.sidebar-container
    height: 100%
    width: 100%
    position: relative
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center

    +desktop-sm
        flex-direction: column
        align-items: center

.sidebar-top
    flex: 1 1 100%
    width: 100%
    padding: var(--gap)

    +desktop-sm
        flex: 0 0 auto

.sidebar-center
    flex: 1 1 100%
    display: none
    justify-content: center
    padding: 0 var(--gap)

    +tablet
        width: 100%
        padding: var(--gap) 0


    +desktop-sm
        display: flex
        align-items: center
        justify-content: flex-start

.sidebar-bottom
    display: none
    flex: 1 1 100%
    width: 100%
    padding: var(--gap)

    +desktop-sm
        flex: 0 0 auto
        display: block
    

.sidebar-mobile
    margin-left: var(--gap)
    flex: 0 0 auto
    display: block

    +desktop-sm
        display: none


// Profile -> Account -> Acc
.sidebar-acc
    display: flex
    flex-direction: row
    align-items: center

    +desktop-sm
        flex-direction: column
        align-items: flex-start


    &-picture
        flex: 0 0 auto
        width: auto
        position: relative

        & > img
            height: var(--icon)
            width: var(--icon)
            object-fit: cover
            border-radius: 50%
            border: 0
            

    &-header
        display: none
        width: 100%
        positon: relative
        margin: var(--gap-s) 0

        +desktop-sm
            display: block

    &-beta
        display: inline-block
        position: relative
        color: $pink
        background: rgba($pink, .1)
        font-size: var(--size-typo-xs)
        text-transform: uppercase
        font-weight: 500
        letter-spacing: 0.06em
        line-height: var(--line-height-typo-xs)
        border: 0
        border-radius: 24px
        padding: 2px var(--gap)
        margin-left: var(--gap-s)

        +desktop-sm
            margin-left: 0



// Desktop Navigation
.sidebar-links
    width: 100%
    position: relative
    display: none

    +desktop-sm
        display: block

    &-item
        width: 100%

.sidebar-link
    color: $color-font-secondary
    font-size: var(--size-typo-m)
    font-weight: 400
    line-height: var(--line-height-typo-m)
    letter-spacing: .02em
    appearance: none
    text-decoration: none
    outline: none
    width: 100%
    display: block
    padding: var(--gap-s) var(--gap)
    vertical-align: baseline

    &:hover
        background: $gray-light
    
    &.active
        color: $color-font-primary
        font-weight: 600
        // border-color: $color-primary
        background: $gray
    
    & > span + span
        margin-left: var(--gap-xxs)



// Footer
.sidebar-footer
    display: block
    
    &-item + &-item
        margin-top: var(--gap-s)


.sidebar-footer-link
    color: $color-font-secondary
    font-size: var(--size-typo-s)
    font-weight: 400
    line-height: var(--line-height-typo-s)
    vertical-align: baseline
    position: relative

    & > span + span
        margin-left: var(--gap-xxs)
      

.sidebar-footer-card
    border: 1px solid $color-border-dark
    border-radius: $border-radius
    padding: var(--gap-xs)

    &-body
        margin-top: var(--gap-xs)



// Mobile -> Hamburget + Collapse
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99)

.sidebar-burger
    position: relative
    display: inline-block
    height: var(--icon)
    width: var(--icon)
    cursor: pointer
    border: 0
    border-radius: 50%
    transform: rotate(0deg)
    transition: all 0.3s $cubic
    user-select: none
    -webkit-tap-highlight-color: transparent
    z-index: 99
    
    &-container
        width: 18px
        height: 8px
        position: relative
        display: block
        margin: -4px auto 0
        top: 50%
        &-bar
            width: 100%
            height: 2px
            display: block
            position: relative
            background: $color-font-secondary
            transtion: all .2s $cubic
            transition-delay: 0.1s
            
            &Top
                transform: translateY(0px) rotate(0deg)

            &Btm
                transform: translateY(6px) rotate(0deg)


.sidebar-burger.is-open
    transform: rotate(90deg)
    background: $white

    .sidebar-burger-container .sidebar-burger-container-bar
        transition: all 0.2s $cubic
        transition-delay: 0.1s
        background: $color-font-primary

        &Top
            transform: translateY(4px) rotate(45deg)

        &Btm
            transform: translateY(2px) rotate(-45deg)


.sidebar-collapse
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 100%
    min-height: 100vh
    overflow-y: auto
    background: $white
    z-index: 9
    transition: all .15s ease
    visibility: hidden
    opacity: 0

    &.is-open
        visibility: visible
        opacity: 1
        +desktop-sm
            display: none !important

.sidebar-collapse-container
    padding: 76px var(--gap) 45vh
    +tablet
        padding: 126px var(--gap) 45vh

.sidebar-collapse-profile
    display: block
    position: relative
    padding: var(--gap) 0
    &-container
        display: flex
        flex-direction: column
        position: relative
    &-picture
        display: block
        position: relative
        margin-bottom: var(--gap-m)
        & > img
            margin: 0 auto
            border: 0;
            border-radius: 50%
            height: 68px
            width: 68px
            position: relative
            display: block
            object-fit: cover
    &-actions
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
    &-action
        flex: 0 0 auto
    &-link
        color: $color-font-secondary
        font-size: var(--size-typo-s)
        font-weight: 400
        line-height: var(--line-height-typo-s)
        appearance: none
        text-transform: none
        text-decoration: none
        position: relative
        &:hover, &:action, &:focus
            color: $color-font-primary

.sidebar-collapse-block
    display: block
    position: relative
    width: 100%
    padding: var(--gap) 0
    border-top: 1px solid $color-border
  
.sidebar-collapse-link
    color: $color-font-primary
    font-size: var(--size-typo-m)
    font-weight: 400
    line-height: var(--line-height-typo-m)
    letter-spacing: .06em
    text-decoration: none
    appearance: none
    padding: var(--gap-s) 0
    display: block
    transition: all .15s ease
    &:active, &:focus, &:hover
        font-weight: 600
        background: $gray-lighter
        border: 0
        border-radius: $border-radius
        padding: var(--gap-s)
    &.active
        font-weight: 600
        background: $gray
        border: 0
        border-radius: $border-radius
        padding: var(--gap-s)
    & > span + span
        margin-left: var(--gap-xs)