.status
    color: $color-font-primary
    font-size: var(--size-typo-xs)
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.2px
    padding: 4px 8px
    display: inline-block
    border: 0
    border-radius: $border-radius
    position: relative
    background: $gray

    &-pending
        color: $blue
        background: rgba($blue, 0.1)

    &-banned
        color: $red
        background: rgba($red, 0.1)

    &-active
        color: $green
        background: rgba($green, 0.1)

    &-paused
        color: $red
        background: rgba($red, 0.1)
