= content_for :title, "Connected accounts"


%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") Connected accounts
        %div(class="header-actions")
          %div(class="header-actions-item")
            = link_to new_account_path, class: "button-circle button-circle-action" do
              %div(class="button-circle-icon") #{icon "fal", "plus"}
              %div(class="button-circle-name") Add new


  %section(class="section")
    %div(class="content")
      Users
