// Color palette
$white:                     #ffffff


$gray-lighter:              #f8f9f9
$gray-light:                #ebebeb
$gray:                      #e8e8e8
$gray-dark:                 #292929
$gray-darker:               #191919


$black-light:               #1c1d21
// $black:                     #0e1012
$black:                     #050f19

$red-lighter:               #fff4f4
$red:                       #fa5e5e
$red-dark:                  #ad081b


$orange-lighter:            #fdf1ed
$orange:                    #ffa002
$orange-dark:               #ff9d02


$yellow:                    #ffd927


$blue:                          #1552f0
$blue-dark:                     #164ee4
$blue-darker:                   #050e18


$green-lighter:                 #d1efe2
$green:                         #00cc99
$green-dark:                    #02a57c
$green-darker:                  #152c26


// Primary Colors
$color-primary:                 $black
$color-primary-hover:           $black-light

$color-secondary:               $green
$color-secondary-hover:         $green-dark


// Border colors
$color-border-light:          rgba(45,49,56,0.03)
$color-border:                rgba(45,49,56,0.08)
$color-border-dark:           rgba(45,49,56,0.15)


// Shadows
// $shadow-card:              rgba(17, 51, 83, 0.02) 0px 4px 12px 0px
$shadow-card:                 2px 8px 15px rgba($black, 0.1)


// Font color
$color-font-primary:                  #2d3138
$color-font-secondary:                #8f95a3
$color-font-primary-light:              $white
$color-font-secondary-light:            rgba($white, .6)
