// Content width
$content-width-primary: calc(1312px + (var(--gap-r) * 2))
$content-width-page: calc(1110px + (var(--gap-r) * 2))
$content-width-tight: calc(642px + (var(--gap-r) * 2))
$content-width-product: calc(1120px + (var(--gap-r) * 2))

$border-radius: 0px


// CSS variables
\:root
    --font: Clarkson, "Helvetica Neue", Helvetica, Arial, sans-serif
    --size-typo-default: 1.05em
    --size-typo-xs: 0.75em
    --size-typo-s: 0.95em
    --size-typo-m: 1.0625em
    --size-typo-l: 1.25em
    --size-typo-xl: 1.75em
    --size-typo-xxl: 2.25em
    --size-typo-xxxl: 2em
    --size-typo-xxxxl: 3em

    --line-height-typo-xs: 1.5
    --line-height-typo-s: 1.5
    --line-height-typo-m: 1.4
    --line-height-typo-l: 1.4
    --line-height-typo-xl: 1.3
    --line-height-typo-xxl: 1.3
    --line-height-typo-xxxl: 1.2
    --line-height-typo-xxxxl: 1.2222222222

    --navbar-height: 54px

    +tablet
        --size-typo-l: 1.35em
        --size-typo-xl: 2.45em
        --size-typo-xxl: 3.35em
        --size-typo-xxxl: 2.75em
        --size-typo-xxxxl: 3.75em

    +desktop-sm
        --size-typo-xl: 2.75em
        --size-typo-xxl: 3.35em
        --size-typo-xxxxl: 5.2em

        --navbar-height: 64px

    +desktop
        --size-typo-xxxl: 3.25em
        // --size-typo-xxxxl: 5.45em
