// Content width
$content-width-primary: calc(1512px + (var(--gap-r) * 2))
$content-width-section: calc(1024px + (var(--gap-r) * 2))
$content-width-tight: calc(682px + (var(--gap-r) * 2))
$content-width-product: calc(1300px + (var(--gap-r) * 2))



$border-radius: 0px



// CSS variables
\:root
    --font: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif
    --size-typo-default: 0.875em
    --size-typo-xs: 0.75em
    --size-typo-s: 0.95em
    --size-typo-m: 1.0625em
    --size-typo-l: 1.25em
    --size-typo-xl: 1.5em
    --size-typo-xxl: 1.75em
    --size-typo-xxxl: 2em
    --size-typo-xxxxl: 2.15em

    --line-height-typo-xs: 1.5
    --line-height-typo-s: 1.5
    --line-height-typo-m: 1.4
    --line-height-typo-l: 1.4
    --line-height-typo-xl: 1.3
    --line-height-typo-xxl: 1.3
    --line-height-typo-xxxl: 1.2
    --line-height-typo-xxxxl: 1.2222222222

    --navbar-height: 60px

    +tablet
        --size-typo-xxxl: 2.75em
        --size-typo-xxxxl: 4.35em

        --navbar-height: 64px


    +desktop
        --size-typo-xxxl: 3.25em
        --size-typo-xxxxl: 5.15em
