-# = content_tag :li do
-#   = link_to 'English', locale: :en
-# - end unless current_page?(locale: :en)

-# = content_tag :li do
-#   = link_to 'Русский', locale: :ru
-# - end unless current_page?(locale: :ru)


%div(class="home-search-section")
  %div(class="content")
    %div(class="home-search-wrapper")
      %div(class="home-search-header")
        %h1.text.text-xxxl Dagglo
      = form_tag search_path, method: :get, class: "home-search", role: "search", enforce_utf8: true do
        %div(class="home-search-input")
          = text_field_tag :query, params[:query], placeholder: 'Search Dagglo', class: 'home-search-control', type: "search", id: "globalSearch", autocomplete: "off"
        %div(class="home-search-icon") #{icon "far", "search"}

