%header(class="hero hero-no-navbar home-hero")
    %div(class="home-hero__container")
        %div(class="home-hero__grid")
            %div(class="home-hero__grid-item")
                %div(class="hero__heading")
                    %div(class="hero__heading-eyebrow")
                        %p(class="text text-eyebrow") Available 6.09.
                    %div(class="hero__heading-title")
                        %h1(class="text text-xxl text-bold") Making wholesale better, together
                    %div(class="hero__heading-caption")
                        %p(class="text text-l") An automated wholesale portal that customers can access anytime they like.
                        -# %p(class="text text-l") A social commerce platform that connects manufactures/farmers with agents directly through various instant messaging tools.
                    %div(class="hero__heading-action")
                        = link_to "Start selling", partner_path, class: "button button-primary button-big"
            
            %div(class="home-hero__grid-image")
                = image_tag asset_path('/assets/hero/home.jpg'), 'data-src': asset_path('/assets/hero/home.jpg'), loading: "lazy", class: "lazy"
            
            -# %div(class="home-hero__grid-image")
                -# %div(class="home-hero__image-container")
                -#     = image_tag asset_path('/assets/hero/partner-3.jpg'), 'data-src': asset_path('/assets/hero/partner-3.jpg'), loading: "lazy", class: "lazy home-hero__image"





-# %header(class="hero hero-no-navbar")
-#     %div(class="hero-container")
-#         %div(class="content-page")
-#             %div(class="hero-header")
-#                 %div(class="hero-header-title")
-#                     %p(class="text text-eyebrow space-bot-m") Available 5.15.
-#                     %h1(class="text text-xxl text-bold") Making wholesale better, together
-#                 %div(class="hero-header-caption")
-#                     -# %p(class="text text-m") E-commerce for retailers. Buy wholesale food and beverages fast and simple.
-#                     %p(class="text text-m") A social commerce platform that connects manufactures/farmers with agents directly through various instant messaging tools.
-#                 %div(class="hero-header-actions")
-#                     %div(class="hero-header-actions-item")
-#                         = link_to "Start selling", partner_path, class: "button button-primary button-big button-responsive"
-#                     %div(class="hero-header-actions-item")
-#                         = link_to "Contact us", contacts_path, class: "button button-big button-responsive"

-# %section(class="section section-page")
-#     %div(class="section-page-block")
-#         %div(class="content-page")
-#             %div(class="feature-grid")
-#                 %div(class="feature-content")
-#                     %h1(class="text text-xl text-bold") Order wholesale online from the very best.
-#                     %p(class="text text-s text-secondary space-top-s") Whatever you want, we get it. Order delivery for yourself or with friends and watch in real-time as your Postmate brings you all the things you love.
-#                 %div(class="feature-image")
-#                     = image_tag asset_path('/assets/hero/partner-3.jpg'), 'data-src': asset_path('/assets/hero/partner-3.jpg'), loading: "lazy", class: "lazy"

-#     %div(class="section-page-block")
-#         %div(class="content-page")
-#             %div(class="feature-grid feature-grid-reverse")
-#                 %div(class="feature-content")
-#                     %h1(class="text text-xl text-bold") Sell on Dagglo.
-#                     %p(class="text text-s text-secondary space-top-s") Whatever you want, we get it. Order delivery for yourself or with friends and watch in real-time as your Postmate brings you all the things you love.
-#                 %div(class="feature-image")
-#                     = image_tag asset_path('/assets/hero/partner-3.jpg'), 'data-src': asset_path('/assets/hero/partner-3.jpg'), loading: "lazy", class: "lazy"