= content_for :title, "Terms of Use"

- if @terms.present?
  %section(class="section section-page")
    %div(class="content-tight")
      %div(class="section-header")
        %div(class="section-header-title")
          %h1(class="text text-xxl text-bold") #{@terms.name}
        %div(class="section-header-caption")
          %p(class="text text-s text-secondary") PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER.
      %div(class="section-body")
        %p #{@terms.content.html_safe}