%header.header
    .content-page
        .header-container
            .header-main
                %h1.text.text-xxxl #{@category.name}


%section.section
    .content-page
        .section-block
            .grid-1-3
                - @category.children.is_active.each_with_index do |category, index|
                    .col
                        = render partial: "categories/elements/card", :locals => {:category => category, :index => index}