%div(class="page-block")
    %div(class="page-header")
        %div(class="content")
            %div(class="page-header-container")
                %div(class="page-header-title")
                    %p(class="text text-eyebrow text-medium text-secondary") Orders
        
    %div(class="page-body")
        %div(class="content-responsive")
            %div(class="order-empty")
                %p(class="text text-s text-secondary") Orders will be available soon
                