%div(class="page-block")
    %div(class="content")
        %div(class="page-header")
            %div(class="page-header-title")
                %p(class="text text-s text-uppercase text-secondary text-medium") Total Sales
                %p(class="text text-xxl text-bold text-success") $0.00
        %div(class="page-body")
            %div(class="sales")
                %div(class="text text-m text-secondary") No Sales